/* Masonry based layout */

.masonry {

}

.masonry > * {
    float: left;
}

/* width classes */

.masonry-1-of-1 {

}

.masonry-1-of-2 {

}

.masonry-1-of-3 {

}

.masonry-2-of-3 {

}

/* row classes */

.masonry-height-featured {
    height: 45vh;
}

.masonry-height-default {
    height: 30vh;
}

.masonry-height-small {
    height: 20vh;
}

/* Media queries */

@media screen and (min-width: 550px) {

    .masonry-height-featured {
        height: 55vh;
    }

    .masonry-height-default {
        height: 45vh;
    }

    .masonry-height-small {
        height: 35vh;
    }

}

@media screen and (min-width: 900px) {

    .masonry-height-featured {
        height: 60vh;
    }

    .masonry-height-default {
        height: 50vh;
    }

    .masonry-height-small {
        height: 40vh;
    }

    .masonry > * {
        margin-right: 1%;
        margin-left: 1%;
    }

    .masonry-1-of-1 {

    }

    .masonry-1-of-2 {

    }

    .masonry-1-of-3 {

    }

    .masonry-2-of-3 {

    }

    /* Specific style applied on larger screens only */
    .masonry.masonry-lg-gutter {

    }

    .lg-featured-shrink {
        height: 40vh;
    }

    .lg-default-shrink {
        height: 30vh;
    }

    .lg-top-space {
        margin-top: 2%;
    }

}
