/*
    Colors used:
    - emerald #2ecc71
    - clouds #ecf0f1
    - midnight blue #2c3e50
    - white #fff
 */

/* ------------------------ */
/* Imports */

/* Open Sans */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

/* ------------------------ */
/* Basic setup */

/* layout */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 1.2em;
    text-rendering: optimizeLegibility;
    color: #2c3e50;
}

section {
    padding: 0 1em;
}

section, header {
    margin-bottom: 3em;
}

/* elements */

h1 {
    font-size: 2.4em;
    line-height: 1em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 1.8em;
    line-height: 1em;
    margin-bottom: 0.2em;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 0.8em;
}

h1,
h2,
h3,
h4 {
    color: #2ecc71;
}

p {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

progress {
    appearance: none;
    width: 100%;
    height: 5px;
    border: none;
    background: #eee;
    border-radius: 5px;
    display: block;
}

progress::-webkit-progress-bar {
    background: #eee;
    border-radius: 5px;
}

progress::-moz-progress-bar {
    background: #2ecc71;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background: #2ecc71;
    border-radius: 5px;
}

/* ------------------------ */
/* Classes */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.center-parent-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    display: inline-block;
    margin-right: 0.4em;
}

.icon.big {
    font-size: 1.3em;
}

/* ------------------------ */
/* Sections */

/* header */

header {
    height: 100vh;
    background: linear-gradient(rgba(46,204,113,0.8), rgba(46,204,113,0.8)), url(../resources/images/hero-large.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 1em;
    position: relative;
}

header h1,
header h2 {
    color: #fff;
    text-align: center;
}

header h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

header h2 {
    font-size: 1.3em;
}

nav {
    position: fixed;
    top: 0;
    display: none;
}

nav ul li {
    float: left;
    margin-left: 1em;
}

/* projects */

.project-grid {
    margin-left: -1em;
    margin-right: -1em;
    height: 95vh;
}

.project {
    overflow: hidden;
    font-size: 0.9em;
    text-align: center;
    position: relative;
}

.project .image-cover {
    min-width: 100%;
    min-height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.project .meta-info {
    position: relative;
    z-index: 1;
    padding: 1em;
    margin-bottom: -12em;
    opacity: 0;
}

.project .sources {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

.project .sources .link {
    float: left;
    margin-right: 0.2em;
}

/* about */

.about {
    padding-top: 2em;
}

.skills {
    padding-top: 1em;
}

.skill-box {
    margin-bottom: 1.2em;
}

.skill-name {
    margin-bottom: 0.3em;
    font-weight: bold;
    font-size: 0.9em;
}

/* contact */

.contact {
    padding: 2em 1em 3em 1em;
    margin-bottom: 0;
}

.contacts {
    width: 50%;
    margin: 2em auto 0 auto;
}

.single-contact {
    display: block;
    margin-bottom: 1em;
}

/* footer */

footer {
    width: 100%;
    padding: 0.6em;
    background: #ecf0f1;
    text-align: center;
    font-size: 0.85em;
}

footer p {
    margin: 0;
}

footer em {
    margin-top: 0.2em;
    display: inline-block;
    font-weight: bold;
    font-size: 0.75em;
}