/*
    Colors used:
    - emerald #2ecc71
    - clouds #ecf0f1
    - midnight blue #2c3e50
    - white #fff
 */

/* ------------------------ */
/* Imports */

/* Open Sans */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

/* ------------------------ */
/* Basic setup */

/* layout */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    color: #2c3e50;

    background: #ecf0f1;
}

.content {
    padding: 0 1em;
}

section, header {
    padding-bottom: 3em;   
}

/* elements */

h1 {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 1.8em;
    line-height: 1em;
    margin-bottom: 0.2em;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 0.4em;
}

h1,
h2,
h3,
h4 {
    color: #2ecc71;
}

a {
    text-decoration: none;
    color: inherit;
}

progress {
    display: block;
}

/* ------------------------ */
/* Sections */

/* header */

header {
    height: 70vh;
    background: #2ecc71;
}

header h1,
header h2 {
    color: #fff;
}

nav ul li {
    float: left;
    margin-left: 1em;
}
